/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'aktiv', sans-serif;
}

//$font-family-base: 'ksp bold';
$enable-cssgrid: true;

@import './node_modules/bootstrap/scss/functions';
@import './node_modules/bootstrap/scss/variables';
//@import './node_modules/bootstrap/scss/maps';
//@import './node_modules/bootstrap/scss/mixins';
//$theme-colors: map-merge($theme-colors, $customTheme);
//$font-sizes: map-merge($font-sizes, $customFs);

@import './node_modules/bootstrap/scss/bootstrap';
.page-content {
  padding: 3rem 1rem;
  width: 100%;
  display: flex;
  height: 100%;
  background-color: white;
  border-radius: 1rem;
}
.data-content {
  padding: 1rem;
  width: 100%;
  display: flex;
  height: 100%;
  background-color: white;
  &:first-child {
    width: 100%;
  }
}
.header-1 {
  font-size: 32px;
  color: black;
}
.main-container {
  width: 100%;
}

@font-face {
  font-family: 'aktiv';
  src: url(./assets/font/AktivGrotesk-Regular.ttf) format('opentype');
}
.dpt-theme .mat-toolbar-single-row {
  padding: 3rem 5rem;
}

// mat
.mat-drawer {
  border: 0px;
}
.mat-drawer-content {
  width: 100%;
}
.mat-table {
  width: 100%;
}
.mat-table {
  box-shadow: 0px;
}
.mat-form-field {
  width: 100%;
}
.default-table {
  th.mat-header-cell {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #4b4e52;
    padding: 0.5rem;
  }
  td.mat-cell {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #4b4e52;
    padding: 0.5rem;
  }
}
